<div class="row">
  <div class="col-md-12">
    <h2>
      Programs
      <a href="/programs/add" class="btn btn-success pull-right">Add New Program</a>
    </h2>
    <br />
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td>Program Code</td>
          <td>Program Name</td>
        </tr>
        {{#each programs}}
          <tr>
            <td>
              <a href="/students?program={{programCode}}">
                {{programCode}}
              </a>
            </td>
            <td><a href="/program/{{programCode}}">{{programName}}</a></td>
            <td><a href="/program/delete/{{programCode}}"><div
                  class="btn btn-danger"
                >Remove</div></a></td>
          </tr>
        {{/each}}
      </table>
      {{#unless data}}
        <div class="col-md-12 text-center">
          <strong>{{message}}</strong>
        </div>
      {{/unless}}
    </div>
  </div>
</div>